################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity/ScoreJam13/Library
/Unity/ScoreJam13/Logs
/Unity/ScoreJam13/obj/Debug
/Unity/ScoreJam13/Temp
/Unity/ScoreJam13/UserSettings
/Unity/ScoreJam13/.vsconfig
/Unity/ScoreJam13/Assembly-CSharp.csproj
/Unity/ScoreJam13/ScoreJam13.sln
/Unity/ScoreJam13/.vs/ScoreJam13/v16
/Server/ScoreJam13Server/.vs/ScoreJam13Server
/Server/ScoreJam13Server/ScoreJam13Server.WebAPI/bin/Debug/net5.0
/Server/ScoreJam13Server/ScoreJam13Server.WebAPI/obj
/Server/ScoreJam13Server/ScoreJam13Server.WebAPI/bin/Release/net5.0
