################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity/ScoreJam13/Library
/Unity/ScoreJam13/Logs
/Unity/ScoreJam13/obj/Debug
/Unity/ScoreJam13/Temp
/Unity/ScoreJam13/UserSettings
/Unity/ScoreJam13/.vsconfig
/Unity/ScoreJam13/Assembly-CSharp.csproj
/Unity/ScoreJam13/ScoreJam13.sln
/Unity/ScoreJam13/.vs/ScoreJam13/v16
/Unity/ScoreJam13/VSSettingsProvider.csproj
/Unity/ScoreJam13/UnityEngine.UI.Player.csproj
/Unity/ScoreJam13/UnityEngine.UI.csproj
/Unity/ScoreJam13/UnityEngine.TestRunner.Player.csproj
/Unity/ScoreJam13/UnityEngine.TestRunner.csproj
/Unity/ScoreJam13/UnityEditor.UI.csproj
/Unity/ScoreJam13/UnityEditor.TestRunner.csproj
/Unity/ScoreJam13/Unity.VSCode.Editor.csproj
/Unity/ScoreJam13/Unity.VisualStudio.Editor.csproj
/Unity/ScoreJam13/Unity.VisualScripting.State.Player.csproj
/Unity/ScoreJam13/Unity.VisualScripting.State.Editor.csproj
/Unity/ScoreJam13/Unity.VisualScripting.State.csproj
/Unity/ScoreJam13/Unity.VisualScripting.Flow.Player.csproj
/Unity/ScoreJam13/Unity.VisualScripting.Flow.Editor.csproj
/Unity/ScoreJam13/Unity.VisualScripting.Flow.csproj
/Unity/ScoreJam13/Unity.VisualScripting.Core.Player.csproj
/Unity/ScoreJam13/Unity.VisualScripting.Core.Editor.csproj
/Unity/ScoreJam13/Unity.VisualScripting.Core.csproj
/Unity/ScoreJam13/Unity.Timeline.Player.csproj
/Unity/ScoreJam13/Unity.Timeline.Editor.csproj
/Unity/ScoreJam13/Unity.Timeline.csproj
/Unity/ScoreJam13/Unity.TextMeshPro.Player.csproj
/Unity/ScoreJam13/Unity.TextMeshPro.Editor.csproj
/Unity/ScoreJam13/Unity.TextMeshPro.csproj
/Unity/ScoreJam13/Unity.Rider.Editor.csproj
/Unity/ScoreJam13/Unity.Mathematics.Player.csproj
/Unity/ScoreJam13/Unity.Mathematics.Editor.csproj
/Unity/ScoreJam13/Unity.Mathematics.csproj
/Unity/ScoreJam13/Unity.InternalAPIEngineBridge.001.Player.csproj
/Unity/ScoreJam13/Unity.InternalAPIEngineBridge.001.csproj
/Unity/ScoreJam13/Unity.InternalAPIEditorBridge.001.csproj
/Unity/ScoreJam13/Unity.CollabProxy.Editor.csproj
/Unity/ScoreJam13/Unity.2D.Tilemap.Editor.csproj
/Unity/ScoreJam13/Unity.2D.SpriteShape.Runtime.Player.csproj
/Unity/ScoreJam13/Unity.2D.SpriteShape.Runtime.csproj
/Unity/ScoreJam13/Unity.2D.SpriteShape.Editor.csproj
/Unity/ScoreJam13/Unity.2D.Sprite.Editor.csproj
/Unity/ScoreJam13/Unity.2D.Psdimporter.Editor.csproj
/Unity/ScoreJam13/Unity.2D.PixelPerfect.Player.csproj
/Unity/ScoreJam13/Unity.2D.PixelPerfect.Editor.csproj
/Unity/ScoreJam13/Unity.2D.PixelPerfect.csproj
/Unity/ScoreJam13/Unity.2D.Path.Editor.csproj
/Unity/ScoreJam13/Unity.2D.IK.Runtime.Player.csproj
/Unity/ScoreJam13/Unity.2D.IK.Runtime.csproj
/Unity/ScoreJam13/Unity.2D.IK.Editor.csproj
/Unity/ScoreJam13/Unity.2D.Common.Runtime.Player.csproj
/Unity/ScoreJam13/Unity.2D.Common.Runtime.csproj
/Unity/ScoreJam13/Unity.2D.Common.Editor.csproj
/Unity/ScoreJam13/Unity.2D.Animation.Triangle.Runtime.Player.csproj
/Unity/ScoreJam13/Unity.2D.Animation.Triangle.Runtime.csproj
/Unity/ScoreJam13/Unity.2D.Animation.Runtime.Player.csproj
/Unity/ScoreJam13/Unity.2D.Animation.Runtime.csproj
/Unity/ScoreJam13/Unity.2D.Animation.Editor.csproj
/Unity/ScoreJam13/PsdPlugin.csproj
/Unity/ScoreJam13/Assembly-CSharp.Player.csproj
/Server/ScoreJam13Server/.vs/ScoreJam13Server
/Server/ScoreJam13Server/ScoreJam13Server.WebAPI/bin/Debug/net5.0
/Server/ScoreJam13Server/ScoreJam13Server.WebAPI/obj
/Server/ScoreJam13Server/ScoreJam13Server.WebAPI/bin/Release/net5.0
/Unity/ScoreJam13/.vs/ScoreJam13/config
